<div th:fragment="dropdown-main-view-menu">
<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
  <div class="navbar-nav mr-auto py-0">
    <a href="index.html" class="nav-item nav-link">[[#{homePage}]]</a>
    <a th:href="@{/api/v1/newRecipe}" class="nav-item nav-link active">[[#{addRecipe}]]</a>
    <a th:href="@{/ingredients}" class="nav-item nav-link">[[#{showIngredients}]]</a>
    <a href="contact.html" class="nav-item nav-link">[[#{contact}]]</a>
  </div>
  <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
    <a href="" class="btn px-0">
      <i class="fas fa-heart text-primary"></i>
      <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
    </a>
    <a href="" class="btn px-0 ml-3">
      <i class="fas fa-shopping-cart text-primary"></i>
      <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
    </a>
  </div>
</div>
</div>